.glyphicon {
    font-size : 3em;
    display: block;
    margin: auto;
    color: #3a87dd
}

.top-buffer {
    margin-top:30px;
}
.left-buffer{
    margin-left:30px;

}
.breadcrumb > li + li:before {

    color: #006dcc;
    content: "\3E"
}
h1 {
  color: #339933;
}
h2 {
  color: #2468a8;
}
code{
  background-color: #cce6ff;
  color: #0d0df3;
}
