<table style="width=100%">
<th>Size in bytes</th>
<th>Name</th>
{{$dir := .Get "dir"}}
{{ $url := .Get "baseurl" }}

{{ $files := readDir $dir }}
    {{ range $files }}
        {{ if .IsDir }}
            <tr>
                <td>{{.Size}}</td>
                <td> 
                    {{$str := replace $dir "content/" ""}}
                    <a href="{{$url}}{{$str}}{{.Name | urlize }}/index.html"> {{.Name}}</a>
                    </td>
                </tr>
        {{end}}
     {{ end }}
</table>
