<table style="width=100%">
{{$dir := .Get "dir"}}
{{ $url := .Get "baseurl" }}

{{ $files := readDir $dir }}
    {{ range $files }}
      {{ if (eq  "le" (substr .Name 0 2) )}}
            <tr>
                <td>
                    {{$str := replace $dir "content/" ""}}
                    <a href="{{$url}}{{$str}}{{ (replace .Name ".md" "") | urlize }}/" type=button class="btn btn-lg btn-success"> {{.Name}}</a>
                </td>
            </tr>
             {{end}}
     {{ end }}
 </table>

