<div class="btn-toolbar">
{{$dir := .Get "dir"}}
{{ $url := .Get "baseurl" }}
{{ $files := readDir $dir }}
    {{ range $files }}
      {{ if (eq  "le" (substr .Name 0 2) )}}
        {{$str := replace $dir "content/" ""}}
        <a href="{{$url|urlize}}{{$str|urlize}}{{ (replace .Name ".md" "") | urlize }}/" type=button class="btn btn-lg btn-success">
           {{ replace .Name ".md" ""}}
         <b class="glyphicon glyphicon-blackboard"></b>
         </a>
             {{end}}
     {{ end }}
</div>
