{{ partial "header.html" .}}

<div class="container">
  <h1 class="text-success"> Welcome to Kawish. </h1>
  <p class="lead text-success">  Kawish aims at building a library of video lessons
  and making it accessible. </p>
  <p class="lead text-primary">Courses for the below classes are available </p>
  <h2 class="text-primary"> Select Class</h2>
  <p class="text-info"> (Click the green buttons)</p>
    <div class="container">
        <div class="row">
        {{ range $index, $element := .Data.Pages.ByWeight }}
          {{if (eq .Params.homepage "show")}}
          <div class="col-sm-4">

            <div class="thumbnail">
            <a href="{{ .Permalink }}" type="button" class="btn btn-md btn-success" >
               {{ .Title}}
                <b class="glyphicon glyphicon-user"></b>
            </a>
          </div>:<wbr>
          </div>
          {{end}}
        {{end}}
    </div>
    </div>

</div>
{{ partial "footer.html" .}}
